.intro {
  &--bg {
    // background-color: $main-green;
    background-image: url("../img/index-background-mobile.jpg"), linear-gradient(to bottom, rgb(100, 168, 59), 64%, rgb(255, 255, 255) 50%);
    background-repeat: no-repeat;
    background-position: center top;

    // background-image: linear-gradient(to bottom, $main-green 64%, rgb(255, 255, 255) 50%);
  }
}

.intro__body {
  position: relative;
  margin-bottom: 20px;
  padding-top: 31px;

  min-height: 478px;

  color: rgb(255, 255, 255);
}

.intro__text {
  &--small {
    position: relative;
    margin-bottom: 23px;

    min-height: 16px;

    font-size: 14px;
    text-align: center;
    font-weight: normal;

    z-index: 2;
  }

  margin-bottom: 21px;

  height: 70px;

  line-height: 40px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
}

.intro__picture {
  min-height: 271px;
}

.intro__programm {
  position: relative;
  padding: 0;

  display: block;

  width: 100%;
  min-height: 40px;

  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 20px;
  text-transform: uppercase;

  background-color: $main-green;

  &:hover,
  &:focus {
    background-color: $main-green-hover;
  }

  &:active {
    color: $main-white-active;
  }
}


@media (min-width: $tablet-width) {
  .intro {
    &--bg {
      background-image: none;

      background-color: rgb(255, 255, 255);
    }
  }

  .intro__body {
    margin: 0;
    padding-top: 44px;
    padding-left: 90px;

    min-height: 850px;
    color: black;
  }

  .intro__text {
    &--small {
      margin-bottom: 50px;
      width: 295px;

      font-size: 20px;
      font-weight: normal;
      text-align: left;
    }

    margin-bottom: 40px;

    width: 426px;
    height: 120px;

    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }

  .intro__programm {
    width: 244px;
    height: 50px;

    z-index: 2;
  }

  .intro__picture {
    position: absolute;

    top: 222px;

    width: 565px;
    height: 627px;

    z-index: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    &--bg {
      background-image: url("../img/index-background-desktop.jpg"), linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(100, 168, 59) 50%);
      background-repeat: no-repeat;
      background-size: 50%, 100%;
      background-position: right center, center;
      // background-image: linear-gradient(to right, rgb(255, 255, 255) 50%, $main-green 50%);
    }
  }

  .intro__body {
    position: relative;

    min-height: 696px;

    padding-top: 225px;
  }

  .intro__picture {
    position: absolute;

    top: 140px;
    right: 204px;

    width: 565px;
    height: 627px;

    z-index: 0;
  }
}
