.navigation__body {
  min-width: 100%;
}

.navigation__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation__item {
  height: 67px;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    justify-content: space-between;

    width: 438px;

    flex-direction: row;
  }

  .navigation__link {
    color: rgb(0, 0, 0);
  }
}

@media (min-width: $desktop-width) {
    .navigation__list {
      flex-direction: row;
    }

    .navigation__link {
    color: rgb(255, 255, 255);
  }
}
